html {
	font-family:"Helvetica Neue", Helvetica, Arial, Calibri, sans-serif;
}

.emoji {
	font-weight:normal;
}

.main-heading {
	text-align:center;
}

.emoji-header {
	display:block;
}

.form-group-center {
	text-align:center;
}

.hidden {
	display:none;
}

.large-central-message {
	font-size:1.5rem;
	max-width:20em;
	text-align:center;
	margin:1rem auto;
}

.xlarge-cta {
	font-size:1.5rem;
	padding:1rem;
	border:none;
	background-color:#60b044;
	color:#fff;
	border-radius:0.2rem;
}

/* Choices bit */

.emoji-choice {
	text-decoration:none;
	padding:0.3rem 0.5rem;
	display:inline-block;
	border-radius:0.2rem;
}

.emoji-choice:hover {
	text-decoration:none;
	background-color:#efefef;
}