html {
	font-family:"Helvetica Neue", Helvetica, Arial, Calibri, sans-serif;
}

div {
	margin-bottom:1rem;
}

.emoji {
	font-weight:normal;
}

.main-heading {
	text-align:center;
}

.emoji-header {
	display:block;
}

.form-group-center {
	text-align:center;
}

.hidden {
	display:none;
}

.large-central-message {
	font-size:1.5rem;
	max-width:20em;
	text-align:center;
	margin:1rem auto;
}

/* Forms */

.cta-block {
	display: block;
	cursor:pointer;
}

.large-cta {
	font-size:1.2rem;
	padding:1rem;
	border:none;
	background-color:#60b044;
	color:#fff;
	border-radius:0.2rem;
	cursor: pointer;
}

.large-cta-secondary {
	font-size:1.2rem;
	padding:1rem;
	border:none;
	background-color:#eee;
	color:#3E3E3E;
	border-radius:0.2rem;
	cursor: pointer;
}

.xlarge-cta {
	font-size:1.5rem;
	padding:1rem;
	border:none;
	background-color:#60b044;
	color:#fff;
	border-radius:0.2rem;
	cursor: pointer;
}

.pull-right {
	float:right;
}

.large-cta.pull-right {
	margin-left:1rem;
}

.form-element-full {
	border:2px solid #3E3E3E;
	border-radius:0.2rem;
	font-size:1.2rem;
	width:100%;
	padding:0.5rem 1rem;
	box-sizing: border-box;
	margin:0 0 1rem 0;
}

/* Memorising part */

.large-central-instruction {
	height:100px;
	line-height:100px;
	vertical-align:center;
	font-size:80px;
}

.emoji-flash {
	font-size:100px;
}

.correct-message {
	color:#60b044;
	font-size:1.5rem;
}

/* Choices bit */

.current-test {
	text-align:center;
	max-width:750px;
	margin:0 auto 1rem auto;
}

.emoji-list {
	font-size:1.5rem;
}

.emoji-choice,.emoji-selection,.emoji-selection-empty {
	text-decoration:none;
	padding:0.3rem 0.5rem;
	display:inline-block;
	border-radius:0.2rem;
    box-sizing: border-box;
}

.emoji-choice {
	text-decoration:none;
	padding:0.3rem 0.5rem;
	display:inline-block;
	border-radius:0.2rem;
	box-sizing: border-box;
	border:1px solid transparent;
	font-size:50px;
	cursor:pointer;
}

.emoji-choice:hover {
	text-decoration:none;
	background-color:#efefef;
}

.emoji-selection,.emoji-selection-empty {
    height: 2.5rem;
    width: 2.5rem;
    margin: 0 0.5rem 0 0.5rem;
}

.emoji-selection {
	border:1px solid #4078c0;
	background-color:#4078c0;
	cursor:pointer;
}

.emoji-selection-empty {
    border: 1px dashed #4078c0;
    background-color: transparent;

    /* This should have regular text in it */
    color:#efefef;
}


/* CLEARFIX */
/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}