/* Font for when your platform doesn't support Emoji fully */
@font-face {
  font-family: 'OpenSansEmoji';
  src: url('OpenSansEmoji.otf') format('opentype'), /* Pretty Modern Browsers */
       url('OpenSansEmoji.ttf')  format('truetype') /* Safari, Android, iOS */
}

html {
	font-family:"Helvetica Neue", Helvetica, Arial, Calibri, sans-serif;
}

body {
	padding-bottom:2rem;
}

div {
	margin-bottom:1rem;
}

.emoji {
	font-weight:normal;
}

.emoji.accessible {
	font-family: 'OpenSansEmoji';
}

.main-heading {
	text-align:center;
}

.game-underway .main-heading {
	font-size:0.8rem;
	color:#aaa;
}

.emoji-header {
	display:block;
}

.game-underway .emoji-header {
	display:none;
}

.form-group-center {
	text-align:center;
}

.hidden {
	display:none;
}

.large-central-message {
	font-size:1.5rem;
	max-width:20em;
	text-align:center;
	margin:1rem auto;
}

.hint-below-emoji {
	font-size:1.2rem;
	display:block;
}

.hint-below-emoji.hidden {
	display:none;
}

.by-the-way {
	max-width:20rem;
	margin:1rem auto;
	font-size:0.5rem;
}

/* Forms */

.cta-block {
	display: block;
	cursor:pointer;
}

.large-cta {
	font-size:1.2rem;
	padding:1rem;
	border:none;
	background-color:#60b044;
	color:#fff;
	border-radius:0.2rem;
	cursor: pointer;
}

.large-cta-secondary {
	font-size:1.2rem;
	padding:1rem;
	border:none;
	background-color:#eee;
	color:#3E3E3E;
	border-radius:0.2rem;
	cursor: pointer;
}

.xlarge-cta {
	font-size:1.5rem;
	padding:1rem;
	border:none;
	background-color:#60b044;
	color:#fff;
	border-radius:0.2rem;
	cursor: pointer;
}

.pull-right {
	float:right;
}

.large-cta.pull-right {
	margin-left:1rem;
}

.label-full {
	display:block;
	margin:0 0 1rem 0;
	font-weight:bold;
}

.column-form-group {
	display:flex;
	flex-flow:row wrap;
	margin-bottom:0;
}

.column-form-group label {
	text-align:left;
}

.column-form-group .form-group-col {
	flex-grow: 1;
	margin-right:1rem;
	margin-bottom:0;
}

.column-form-group .form-group-col-last {
	flex-grow: 5;
	margin-right:0;
}

.form-element-full {
	border:2px solid #8DB180;
	border-radius:0.2rem;
	font-size:1.2rem;
	width:100%;
	padding:0.5rem 1rem;
	box-sizing: border-box;
	margin:0 0 1rem 0;
}

/* Memorising part */

.large-central-instruction {
	height:100px;
	line-height:100px;
	vertical-align:center;
	font-size:80px;
	display:block;
}

.large-central-instruction {
	height:70px;
	line-height:70px;
	vertical-align:center;
	font-size:40px;
	display:block;
}

.emoji-flash {
	font-size:80px;
}

.correct-message {
	color:#60b044;
	font-size:1.5rem;
}

.incorrect-message {
	color:#B63933;
	font-size:1.5rem;
}

/* Choices bit */

.current-test {
	text-align:center;
	max-width:750px;
	margin:0 auto 1rem auto;
}

.emoji-list {
	font-size:1.5rem;
}

.emoji-list.accessible {
	font-family: 'OpenSansEmoji';
}

.emoji-choice,.emoji-selection,.emoji-selection-empty {
	text-decoration:none;
	padding:0.3rem 0.5rem;
	display:inline-block;
	border-radius:0.2rem;
    box-sizing: border-box;
}

.emoji-choice {
	text-decoration:none;
	padding:0.3rem 0.5rem;
	display:inline-block;
	border-radius:0.2rem;
	box-sizing: border-box;
	border:1px solid transparent;
	font-size:50px;
	cursor:pointer;
}

.emoji-choice:hover {
	text-decoration:none;
	background-color:#efefef;
}

.emoji-selection,.emoji-selection-empty {
    height: 2.5rem;
    width: 3rem;
    margin: 0 0.5rem 0 0.5rem;

}

.emoji-selection {
  border:1px dashed #4078c0;
	/*border:1px solid #4078c0;*/
	/*background-color:#4078c0;*/
	cursor:pointer;
}

.emoji-selection-empty {
    border: 1px dashed #4078c0;
    background-color: transparent;

    /* This should have regular text in it */
    color:#efefef;
}

/* Responsive conditional stuff */

.touch .touch-only {
	/*display:auto;*/
}
.no-touch .touch-only {
	display:none;
}

.touch .mouse-only {
	display:none;
}
.no-touch .mouse-only {
	/*display:hidden;*/
}

/* Results stuff */

.round-result {
	box-sizing:border-box;
	width:100%;
	border-radius:0.2rem;
	margin-bottom:2rem;
	border:1px solid #aaa;
}

.top-score-number {
	font-weight:bold;
	color:#DF3E3E;
}

/* Footer */
.made-by {
	text-align:center;
	position:fixed;
	font-size:1rem;
	padding:0.5em;
	bottom:0;
	left:0;
	right:0;
	margin-bottom:0;
	background-color:#fff;
}

.made-by img {
	height:1em;
	vertical-align:bottom;
}

.made-by a:link,.made-by a:visited {
	color:#60b044;
}

.game-underway .made-by {
	font-size:0.7rem;
	color:#aaa;
}

.game-underway .made-by a:link, .game-underway .made-by a:visited {
	color:#82AB74;
}

/* Emoji Images for Safety */

.inline-emoji-image {
	height:1em;
	vertical-align:bottom;
}

/* CLEARFIX */
/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}
